<h1>Edit Landmark : <%= @landmark.name %></h1>
<h2>Edit Year : <%= @landmark.year_completed %></h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><input id="name" type="text" name="landmark[name]"  value=<%= @landmark.name %> ><br><br>
  <label>Year Completed:</label><input id="year_completed" type="text" name="landmark[year_completed]" id="year_completed" value= <%= @landmark.year_completed %> ><br><br>
  <a class="button" href="/landmarks">Landmarks</a>
  <a class="button" href="/">Home</a>
  <input type="submit" name="submit" value="Edit Landmark">
</form>



