<h1>Add A New Figure!</h1>

<form action="/figures" method="POST">
<label>Name: </label>
<br>
<input type="text" name="figure[name]" id="figure_name">
<br>
<br>
<label>Title(s):</label><br>
<em>Choose from an Existing Title</em><br>
<% @titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
  <%= title.name %>
  <br>
<% end %><br>
<em>and/or Create a New Title:</em><br>
<label>Title:</label><input type="text" name="title[name]" id="new_title">
<br><br>
<label>Landmark(s):</label><br>
<em>Choose from an Existing Landmark</em><br>
<% @landmarks.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>">
  <%= landmark.name %>
  <br>
<% end %><br>
<em>and/or Create a New Landmark:</em><br>
<label>Landmark:</label><input type="text" name="landmark[name]" id="new_landmark">
<br><br>

<input type="submit" name="submit" value="Create New Figure">

</form>